
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <title>Document</title>
</head>

<body>
    <div class="box-container">
        <div id="box-secreta">
            <h1>JOGO DA PALAVRA - RECICLAGEM</h1>
            <div id="palavra-secreta">xx</div>
        </div>
    </div>
    <div class="box-container">
        <div id="box-tentativas">
            TENTATIVAS : 7
        </div>
    </div>
    <div class="box-container">
        <div id="box-resposta"></div>


    </div>
    <div class="box-container">
        <div class="box-letra" id="tecla-A" onclick="verificaLetraEscolhida('A')">A</div>
        <div class="box-letra" id="tecla-B" onclick="verificaLetraEscolhida('B')">B</div>
        <div class="box-letra" id="tecla-C" onclick="verificaLetraEscolhida('C')">C</div>
        <div class="box-letra" id="tecla-D" onclick="verificaLetraEscolhida('D')">D</div>
        <div class="box-letra" id="tecla-E" onclick="verificaLetraEscolhida('E')">E</div>
        <div class="box-letra" id="tecla-F" onclick="verificaLetraEscolhida('F')">F</div>
        <div class="box-letra" id="tecla-G" onclick="verificaLetraEscolhida('G')">G</div>
        <div class="box-letra" id="tecla-H" onclick="verificaLetraEscolhida('H')">H</div>
        <div class="box-letra" id="tecla-I" onclick="verificaLetraEscolhida('I')">I</div>
    </div>
    <div class="box-container">
        <div class="box-letra" id="tecla-J" onclick="verificaLetraEscolhida('J')">J</div>
        <div class="box-letra" id="tecla-K" onclick="verificaLetraEscolhida('K')">K</div>
        <div class="box-letra" id="tecla-L" onclick="verificaLetraEscolhida('L')">L</div>
        <div class="box-letra" id="tecla-M" onclick="verificaLetraEscolhida('M')">M</div>
        <div class="box-letra" id="tecla-N" onclick="verificaLetraEscolhida('N')">N</div>
        <div class="box-letra" id="tecla-O" onclick="verificaLetraEscolhida('O')">O</div>
        <div class="box-letra" id="tecla-P" onclick="verificaLetraEscolhida('P')">P</div>
        <div class="box-letra" id="tecla-Q" onclick="verificaLetraEscolhida('Q')">Q</div>
        <div class="box-letra" id="tecla-R" onclick="verificaLetraEscolhida('R')">R</div>
    </div>

    <div class="box-container">
        <div class="box-letra" id="tecla-S" onclick="verificaLetraEscolhida('S')">S</div>
        <div class="box-letra" id="tecla-T" onclick="verificaLetraEscolhida('T')">T</div>
        <div class="box-letra" id="tecla-U" onclick="verificaLetraEscolhida('U')">U</div>
        <div class="box-letra" id="tecla-V" onclick="verificaLetraEscolhida('V')">V</div>
        <div class="box-letra" id="tecla-W" onclick="verificaLetraEscolhida('W')">W</div>
        <div class="box-letra" id="tecla-X" onclick="verificaLetraEscolhida('X')">X</div>
        <div class="box-letra" id="tecla-Y" onclick="verificaLetraEscolhida('Y')">Y</div>
        <div class="box-letra" id="tecla-Z" onclick="verificaLetraEscolhida('Z')">Z</div>
        <div class="box-letra"><a href="" onclick="windowRefresh()"><img
                    src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/2x/fa314a/external-reload-arrows-vitaliy-gorbachev-fill-vitaly-gorbachev.png"
                    alt="Reiniciar Jogo"></a></div>
    </div>
    

    <script src="main.js"></script>
</body>

</html>