<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recitec | Página Inicial </title>

    <link rel="stylesheet" href="../styles/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="nav-hover nav-out">
        <ion-icon name="close-outline"></ion-icon>
        <a href="#inicio" class="links-redirect">Inicio</a>
        <a href="#sobre" class="links-redirect">Sobre</a>
        <a href="#game" class="links-redirect">Game</a>
        <a href="#redes-sociais" class="links-redirect">Redes Sociais</a>
    </div>
    <header>
        <div class="logo">
            <img src="../../assets/img/logo-recitec.jpeg" alt="logo-recitec">
        </div>
        <nav>
            <a href="#inicio">INÍCIO</a>
            <a href="#sobre">SOBRE</a>
            <a href="#game">GAME</a>
            <a href="#redes-sociais">REDES SOCIAIS</a>
        </nav>
        <ion-icon name="menu-outline" class="menu-hamburguer"></ion-icon>
    </header>
    <main>
        <section class="container" id="inicio">
            <h1>RECITEC</h1>
        </section>
        <section class="container" id="sobre">
            <div class="left">
                <div class="text">
                    <h1>
                        Sobre Nós
                    </h1>
                    <p>
                        A empresa tem como missão transformar plástico em combustível usando a inovadora tecnologia de
                        pirólise. O objetivo é reduzir o acúmulo de plástico no planeta e ao mesmo tempo produzir
                        energia limpa e renovável. Através da pirólise, resíduos plásticos são convertidos em
                        combustíveis valiosos, como gasolina e diesel. A empresa busca criar um mundo mais limpo, onde o
                        plástico seja valorizado e reciclado para um futuro melhor.
                    </p>
                </div>
            </div>
            <div class="right">
                <img src="../../assets/img/logo-recitec-bomba.png" alt="logo-recitec" class="logo">
            </div>
        </section>
        <section class="container" id="game">
            <iframe src="../../helpers/index.html" class="game_iframe" frameborder="0"></iframe>
        </section>
        
        <section class="container" id="redes-sociais">
            <div class="left">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3758.7355751476134!2d-44.049120823945756!3d-19.595826027991343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa699e6de1e2cd9%3A0xe17e9424607b66a9!2sRecitec%20Reciclagem%20T%C3%A9cnica%20do%20Brasil!5e0!3m2!1spt-BR!2sbr!4v1698157274633!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="right">
                <h1>REDES SOCIAIS</h1>
                <ul>
                    <li>
                        <span>
                        <a href="https://www.instagram.com/recitec__/?igshid=MzMyNGUyNmU2YQ%3D%3D">
                        <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                        </span>
                        <span>Instagram</span>
                    </li>
                </ul>
                

            </div>
        </section>

    </main>
    <footer>
        <p>Site Desenvolvido pela equipe &copy;RECITEC</p>
    </footer>

    <script src="../scripts/main.js"></script>
</body>

</html>